<!doctype html>
<html>
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js"></script>
    <script src="/static/js/app.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
</head>
<body ng-app="browserApp" ng-controller="BrowserController">
    <header class="cf">
        <ul>
            <li><a ng-click="navigate_path(0)" href=""><i class="fa fa-home"></i></a></li>
            <li ng-repeat="directory in path track by $index">
                <a ng-click="navigate_path($index+1)" href="">{{directory}}</a>
            </li>
        </ul>
        <a class="button" href="/zip/{{path.join('/')}}.zip"><i class="fa fa-cloud-download"></i> Download .zip</a>
        <a class="toggle-hidden" href="" ng-click="showHidden = !showHidden"><i class="fa fa-eye-slash"></i> toggle hidden</a>
    </header>
    <section class="directory-index">
        <ul>
            <li class="item directory" ng-class="{'hidden-item':(directory[0] == '.')}" ng-repeat="directory in items.directories" ng-show="directory[0] != '.' || (showHidden && directory[0] == '.')">
                <i class="fa fa-folder-open fa-fw"></i>
                <a ng-click="open_directory(directory, true)" href="">{{directory}}</a>
            </li>
            <li class="item file" ng-class="{'hidden-item':(file[0] == '.')}"  ng-repeat="file in items.files" ng-show="file[0] != '.' || (showHidden && file[0] == '.')">
                <i class="fa fa-file fa-fw"></i>
                <a target="_blank" href="/download/{{path.concat(file).join('/')}}">{{file}}</a>
            </li>
        </ul>
    </section>
    <footer>
        file-browser, by <a href="http://stuffbydan.com/">Dan</a>
    </footer>
</body>
</html>