<!doctype html>
<html>
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js"></script>
    <script src="/static/js/app.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
</head>
<body ng-app="browserApp" ng-controller="BrowserController">
    <header class="cf">
        <ul>
            <li><a ng-click="navigate_path(0)" href=""><i class="fa fa-home"></i></a></li>
            <li ng-repeat="directory in path track by $index">
                <a ng-click="navigate_path($index+1)" href="">{{directory}}</a>
            </li>
        </ul>

    </header>
    <section class="directory-index">
        <ul>
            <li class="item directory" ng-repeat="directory in items.directories">
                <i class="fa fa-folder-open fa-fw"></i>
                <a ng-click="open_directory(directory, true)" href="">{{directory}}</a>
            </li>
            <li class="item file" ng-repeat="file in items.files">
                <i class="fa fa-file fa-fw"></i>
                <a target="_blank" href="/download/{{path.concat(file).join('/')}}">{{file}}</a>
            </li>
        </ul>
    </section>
    <footer>
        file-browser, by <a href="http://stuffbydan.com/">Dan</a>
    </footer>
</body>
</html>